*{
	font-family: 'Ubuntu', sans-serif;
	color: red;
	box-sizing: border-box;
}

h1{
	display:none;
}

h2{
	text-align: center;
	margin-top:2em;
	font-family: Ubuntu-BoldItalic;

}

.answer-content{
	font-size: 1.2em;
	line-height: 2.2em;
	margin-top: 2em;
	text-align:center;
}

.project{
	padding: 0.5em;
	background-color: White;
	border: 0.1px solid;
	margin:2em;
	border-radius:1%;
}
.project-desc{
	font-size:0.8em;
}
