* {
	font-family: Lato, sans-serif;
	font-size: 16px;
	color:#2A444B;
}

/* TEXT STYLES */

h1 {
	display:none;
}

h4 {
	font-weight:700;
	color:#2A444B;
}

/* NAVIGATION BAR */

#Brand{
	max-width: 100%;
	max-height:100%;
}


.navbar-default {
	background-color:#6599A2;
	border: none;
	border-radius: 0;
	height:5.185em;
	margin-bottom: -1px;
	padding-bottom: 0px;
}

.navbar-content {
	margin-top: 1.25em;
}

.navbar-default .navbar-nav>li>a {
	font-weight: 300;
	color:#ffffff;
	padding-right: 30px;
}

.navbar-default .navbar-brand {
	font-weight:900;
	color:white;
	font-size:1.5625em;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFFFFF;
}

#search {
	width:43.345em;
}

#search-button {
	margin-left:-3em;
}

/* JUMBOTRON*/

.jumbotron {
	padding-top:0;
}

#jumbotron-text {
	font-weight:900;
	color: #ffffff;
	margin-top: 15%;
}
