<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>yardsale</title>

    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href="{% static 'yardsaleapp/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'yardsaleapp/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'yardsaleapp/css/channel.css' %}" rel="stylesheet">
  </head>
  <body>
    <h1>yardsale</h1>
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-content">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">yardsale</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left">
             <div class="form-group">
               <input type="text" class="form-control" id="search" placeholder="Search">
             </div>
             <button type="submit" id="search-button" style="margin-left:-3em; background:#2A444B; border-color:#2A444B; border-radius:4px;"class="btn btn-default"><span class="glyphicon glyphicon-search" style="color:white" aria-hidden="true"></span></button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">All Products</a></li>
            <li><a href="#">Sellers</a></li>
            <li><a href="#">Categories</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">My Products</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Settings</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h3 id="jumbotron-text" class="text-center">Ophelia's Handicrafts</h3>
      </div>
    </div>

    <div class="container" id="channel-container">
      <div class="row">
        <div class="col-md-6 col-md-offset-2">
          <div class="row">
            <h4>Opehelia Franklin</h4>
          </div>
          <div class="row">
            <ul class="channel-menu">
              <li class="menu-item"><a>About</a></li>
              <li class="menu-item"><a>Products</a></li>
              <li class="menu-item"><a>Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8" style="background-color:#979797; height:0.5px; margin-top:-0.4em;">
        </div>
      </div>
      <div class="row" style="margin-top:1em;">
        <div class="col-md-2 col-md-offset-2 channel-content">
          <img src="{% static  'yardsaleapp/images/profile.jpg' %}" class="img-rounded profile-picture">
        </div>
        <div class="col-md-6">
          <p>While some people really seem to have a knack for barbequing – always grilling up a perfect meal – for the rest of us, it is something that must be learned, not something that just comes naturally.
            Believe it or not.</p>
        </div>
      </div>


    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static  'yardsaleapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static  'yardsaleapp/js/scripts.js' %}"></script>
  </body>
</html>
